
body {
	background:#1F1F1F url(../images/pattern.png) repeat top left;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-size: cover;	
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-position: center;
	background-repeat: no-repeat;

}

.container2 {
	background-image: url("../images/sailboat V.jpg");
	margin: 0 auto;
	width: 80%;
	height: 1025;
	/*border: 4px solid red;*/
	opacity: 1.0;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-position: center;
	background-repeat: no-repeat;

	  transition: all 5s ease-out;
    -webkit-transition: all 5s ease;
    -moz-transition: all 5s ease;
    -o-transition: all 5s ease;
	}

#container {
	background-image: url('../images/sailboat VII.jpg');
    background-repeat: no-repeat;
	margin: 0 auto;
	width: 80%;
	height: 1025px;
	/*border: 4px solid red;	*/
}

#name {
	font: 43px 'Times New Roman';
  	color: white;
  	text-shadow: 3px 3px 3px grey;
  	position: relative;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	background:#1F1F1F url(../images/pattern.png) repeat top left;
    border-style: solid;
    border: solid #d3d3d3;
    box-shadow: 10px 10px 5px #888888;
}

/*.clearfix {
	display: none;
}

.clearfix2 {
    display: block;
}*/


nav li a {
    display: block;
}

nav li a:hover {
    background-color: #7e7e7e;
}

nav {   
    display: none;
    margin: 0 auto;
	height: 40px;
    width: 80%;
    background: none;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    position: relative;
    /*border-bottom: 2px solid pink;*/
    /*opacity: 1;*/
    /*border-bottom: solid #d3d3d3;*/
    box-shadow: 10px 10px 5px #888888;	
}

nav ul {
	margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 38px;    
}

nav li {
    display: inline;
    float: left;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
    cursor: pointer;
}

	nav a {
    color: #fff;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #283744;
    /*background-color: green;*/

}

	nav li a {
    border-right: 1px solid #576979;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}


nav li:last-child a {
    border-right: 0;
}

	nav a:hover, nav a:active {
    background-color: #8c99a4;
}


nav a#pull {
    display: none;
}


